@page "/"
    
<div class="iframe-container-outer">
    <div class="iframe-container">
    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/f1ADfymb1Vs" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<img id="tiHeader" class="imgCenter" src="images/terrible-investments.png" alt="Terrible Investments"/>

<div id="textDiv">
    <br/>
    <h1>What is Polyphonic Underground?</h1>
    <p>
    Polyphonic Underground is an informal collective of synth artists with a passion for vinyl. 
    We came together around the idea of getting our own music released on the medium, without
    having to rely on a record label or any other kind of backing (or bureaucracy/red tape). 
    This is a passion project that is completely self-funded and collaboratively produced. 
    </p>

    <br/>
    <h1>What did we make?</h1>
    <p>
    We are proud to announce our new synth compilation record: Terrible Investments.
    Through a (mostly) democratic process, we have selected one track from each participating
    artist for a total of 10, some of which have not previously been released.
    The record comes with a full colour printed sleeve featuring artwork and graphic design
    from fellow synth artist <a href="https://lavenuemusic.com">L'Avenue</a>.
    Each track has been meticulously mastered for vinyl by genre icon 
    <a href="https://dynatronsynth.com/">Dynatron</a>.
    It's been pressed on black 140g vinyl and comes with a protective black polylined inner sleeve.
    </p>
    <img id="mockupImg" class="imgCenter" src="images/record-mockup.png" alt="Record mockup"/>

    <br/>
    <h1>How do I get one?</h1>
    <p>
    We are currently shooting for a release date around springtime 2021. The records will be 
    distributed to various locations within EU, UK and North America. To get informed about 
    when and how 'Terrible Investments' becomes available, send us an email at this address:
    </p>
    <div class="centerLink">
    <a href="mailto:polyphonicunderground@gmail.com">polyphonicunderground@gmail.com</a>
    </div>

    <br/>
    <h1>Artist links</h1>
    <div class="centerLink">
    <a href="https://kuatolives.bandcamp.com">Kuato Lives!</a><br/>
    <a href="http://robotonaplayground.com">Robot on a Playground</a><br/>
    <a href="https://zitilites.com">Zitilites</a><br/>
    <a href="https://sergetannhauser.bandcamp.com">Serge Tannhäuser</a><br/>
    <a href="https://pixboproductions.com">AI Accident</a><br/>
    <a href="https://dreddbeat.com">Dreddbeat</a><br/>
    <a href="https://hyprdrivr.bandcamp.com">HyprDrivr</a><br/>
    <a href="https://dronefighter.bandcamp.com">Dronefighter</a><br/>
    <a href="https://peacecraftmusic.bandcamp.com">Peacecraft</a><br/>
    <a href="https://jonnyfallout.bandcamp.com">Jonny Fallout</a><br/>
    </div>
</div>