@inherits LayoutComponentBase
@layout MainLayout

<div class="menu">
    <span>
        <NavLink href="interviews/zitilites.html">
            <span aria-hidden="true"></span> Zitilites
        </NavLink>
        <NavLink href="interviews/dreddbeat.html">
            <span aria-hidden="true"></span> Dreddbeat
        </NavLink>
        <NavLink href="interviews/robot-on-a-playground.html">
            <span aria-hidden="true"></span> Robot On A Playground
        </NavLink>
    </span>
</div>

@Body