<div class="menu">
    <span>
        <NavLink class="mainMenu" href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="mainMenu" href="interviews" Match="NavLinkMatch.Prefix">
            <span aria-hidden="true"></span> Interviews
        </NavLink>
    </span>
</div>